<!doctype html>
<head>
	<title>Flask Tutorial!</title>
	<script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>Hello!</h1>
  <p>Click on the "Choose File" button to upload a file:</p>

  <form action="" method = "POST" 
         enctype = "multipart/form-data">
    
    <input type="file" id="file_id" name="file_name">
    <input type="submit">
  </form>

	<a href="/">Go back</a>
</body>